html,body
{
  margin: 0px;
  padding: 0px;
}

#bg
{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
h1
{
  font-family: 'Ceviche One', cursive;
  text-align: center;
  font-size: 60px;
  color: #e8292e;
}
