html,body
{
  margin: 0px;
  padding: 0px;
  position: relative;
  margin-top: 30px;
}

#bg
{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
}

#container
{
  background-color: #fff;
  width: 680px;
  margin: auto;
  position: relative;
  padding-top: 10px;
  padding-bottom: 50px;
  box-shadow: #e8292e -3px 3px;
}

#container .top
{
border-left: 0px solid transparent;   border-right: 680px solid transparent;      border-bottom: 50px solid #fff;position: absolute;top: -50px;}

#logo
{
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}

h1
{
  font-family: 'Ceviche One', cursive;
  text-align: center;
  font-size: 60px;
  color: #e8292e;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2
{
  font-family: 'Ceviche One', cursive;
  text-align: center;
  font-size: 30px;
  color: #e8292e;
  margin-top: 0px;
}

#kamikmz-viewer
{
  display: block;
  margin: auto;
  border: solid 1px #e8292e;
  position: relative;
}

#kamikmz-viewer,
#kamikmz-viewer canvas
{
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

#spinner
{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

.description
{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
  margin-top: 15px;
}

.description ul
{
  list-style-image: url(assets/shiruken.png);
}

.red
{
  font-family: 'Ceviche One', cursive;
  color: #e8292e;
  font-size: 20px;
}

#fork-github
{
  position: absolute;
  color: #e8292e;
  text-decoration: none;
  font-family: 'Ceviche One', cursive;
  font-size: 30px;
  padding-left: 30px;
  transform: rotateZ(-25deg);
  top: 30px;
  background-image: url(assets/shiruken.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}
